.d-none {
    display: none;
}
.main-header{
    box-shadow: 0 2px 3px 0px rgb(0 0 0 / 11%);
    -moz-box-shadow: 0 2px 3px 0px rgb(0 0 0 / 11%);
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.ds-profile{cursor: pointer;position: relative;}
.ds-profile .ds-search-box .search-mode{
    width: 290px;
    left: -93px;
    padding-right: 0;
}
.ds-profile .ds-search-box .search-mode:after{
    right: 0;
}
.profile-activity{list-style: none;}
.ds-profile{cursor: pointer;position: relative;}
.profile-activity{list-style: none;}
.ds-search-box .search-mode {
    left: 0;
    border: none;
    top: 72px;
    border-radius: 15px;
    width: 450px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    padding-right: 8px;
    display: block;
    overflow: unset;
    display: none;
}
.ds-search-box .search-mode:after{
    content: "";
    position: absolute;
    top: -19px;
    border: solid;
    border-color: transparent transparent white transparent;
    border-width: 10px;
    right: 170px;
    left: 0;
    margin: auto;
    width: 10px;

}

.aof-line {
    width: 100%;
    height: 0.1px;
    background: var(--gray-light);
    margin: 0.5rem 0;
}

.name-text {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(max-width:992px){
    .ds-profile .ds-search-box .search-mode{
        left: -107px;
    }
    .name-text {
        width: 110px;
        font-size: .9rem;
    }
}


.search-list li a img{width: 40px;margin-right: 1rem;}
.search-list li a{align-items: center;}
.search-list li a div span {
    font-size: 13px;
    color: var(--gray-2);
}


.form-control{
    background-color: var(--gray-light);
}
.form-input{height: auto;margin-bottom: 1.5rem}
.form-input:last-child{margin-bottom:0}
.form-section .btn img{
    width: 28px !important;
}
.btn:hover img {
    filter: none;
}
.m-lr-1{margin: 0 .5rem}
.light-gray-color {
    color: var(--gray-3);
}
.gradient-line{
    width: 60px;
    height: 0.2rem;
}

.circle-loader {
    width: 22px;
    height: 22px;
    border: solid 3px var(--gray-4);
    display: inline-block;
    border-radius: 100%;
}

.kyc-status .search-mode {
    top: 8px;
    width: 360px;
    box-shadow: 4px -3px 18px rgb(0 0 0 / 10%);
    -moz-box-shadow: 4px -3px 18px rgb(0 0 0 / 10%);
    padding: 1.5rem;  
    overflow: auto;
    max-height: 200px;  
}

.kyc-status.ds-search-box .search-mode:after{
    right: 56px;
}
.profile-activity li span {
    font-size: 14px;
    color: var(--gray-2);
}

.kyc-status .profile-activity li{
    position: relative;
    margin-left: 35px;
    padding-bottom: 1rem;
}
.profile-activity li:last-child{padding-bottom:0}
.kyc-status .profile-activity li:after {
    content: "";
    background: url(../../images/aof/check-status-icon.png) no-repeat -25px 0;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -37px;
    top: 0;
    background-color: var(--white);
    background-size: 50px;
}
.kyc-status .profile-activity li.active:after{
    background-position: 0px 0;
}


.kyc-status .profile-activity li:before {
    content: "";
    position: absolute;
    border-left: dashed 0.09rem var(--gray-4);
    height: 100%;
    left: -26px;
    z-index: 0;
}
.kyc-status .profile-activity li.active:before{
    border-color: #F2994A ;
}

.kyc-status .profile-activity li:last-child:before{
    border: none;
}
.info-item {
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: .3s all;
}
.info-item:hover{background-color: var(--gray-light);}
.info-item img {
    width: 20px;
}
.form-section {
    margin-top: 1.3rem;
}
.aof-form-main{margin-top: 7.5rem}

@media(max-width:768px){
    .aof-form-main{margin-top: 5rem}
    .aof-form-main .bonds-card.p-20 {
        padding: 1.5rem;
        background: transparent;
        box-shadow: none;
        padding: 0 0.5rem;
    }
    .btn, .btn-border {
        font-size: 1.2rem;
    }
    .kyc-status .search-mode{
        width: 95%;
    }
    .brand a img {
        width: 80px;
    }
}


.dd, .mm {
    width: 70px;
}
.mm {
    margin: 0 0.8rem;
}
.yyyy {
    width: 100px;
}

.btn-sucess {
    border-radius: 0.3rem;
    border-color: var(--green);
    background: transparent !important;
    color: var(--green) !important;
    padding: 0.5rem 0.9rem;
    font-size: .8rem;
    font-weight: var(--w-600);
}

.btn-sucess:hover {
    background: var(--green) !important;
}

.radio, .form-check input{
    width: 18px;
    height: 18px;
    margin: 0;
    vertical-align: sub;
    accent-color: var(--brand-color);
}
.radio-group label {
    margin-right: 1rem;
    font-weight: var(--w-600);
    color: var(--gray-2);
}
.form-check span {
    font-weight: var(--w-400);
}
.radio-group label .radio {
    margin-right: 0.3rem;
}
.form-list li {
    margin-bottom: 1rem;
}
.form-list li:last-child {
    margin-bottom: 0;
}
.form-list {
    padding-left: 11px;
}

.close-input, .remove-nominee {
    position: absolute;
    right: -7px;
    top: -10px;
    margin: auto;
    bottom: 0;
    cursor: pointer;
}
.close-input img, .remove-nominee img {
    width: 18px;
    transition: .3s all;
}

.remove-nominee{
    right: 10px;
    top: 10px;
}


.fixed-btm{
    bottom: 0.5rem;
}

.q-img img{
    cursor: pointer;
    transition:.5s all;
    width: 70px;
}
.question-chat-box img:hover, .close-input img:hover, .remove-nominee img:hover{opacity: .7}
.answer-chat-box .bonds-card {
    width: 355px;
}
.help-head {
    padding: 1rem;
    border-bottom: solid 1px var(--gray-light);
    
}
.fixed-btm{
    z-index: 99;
}
.help-list li {
    margin-bottom: 0.4rem;
}
.help-list {
    font-size: .9rem;
    padding-left: 14px;
}
.help-body {
    max-height: 300px;
    overflow: auto;
}
@media(max-width:768px){
    .answer-chat-box .bonds-card{
        width: calc(100% - 50px);
        margin-left: auto;
    }
}

.border-box {
    border-radius: 0.5rem;
    border: 1px solid var(--gray-2);
    padding: 1.5rem;
}
.btn.btn-border{
    border: solid 0.1rem var(--gray-2);
    padding: 0.6rem 1rem;
    font-size: 1rem;
}
.btn.btn-border:hover{
    color: var(--dark-gray) !important;
    background-color: var(--gray-5) !important;
}


.back-page .btn img {
    width: 20px !important;
}
.mt-05{margin-top: .5rem}
.shar_per li {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: .8rem;
    font-weight: var(--w-600);
    color: var(--green);
    cursor: pointer;
}


.shar_per li:last-child{margin-right: 0}
.border-dotted {
    border: dashed 1px var(--gray-4);
    border-radius: 0.5rem;
}

.upload-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.upload-single-wrapper{overflow: hidden;transition: .5s all}
.upload-single-wrapper:hover{
    background-color: var(--gray-light);
}
.upd-text {
    width: 140px
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.upload-check {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}
.pointer{cursor: pointer;transition: .3s all}
.pointer:hover{opacity: .7}
.upload-single-wrapper.active .border-dotted{
    padding: 2rem 0 4rem 0;
}
.bg-light-brand{background-color: var(--light-brand);}
.nominee-list{margin-bottom: 1rem;position: relative;}
.nominee-list:last-child{margin-bottom:0}
.nominee-alert{display: block;}
.form-section .bonds-card{overflow: unset;}

.upload-help-text h4{font-size: 1.2rem}
.upload-help-text p {
    color: var(--gray-2);
    font-size: .8rem;
}
.uplaod-card {
    padding: 0.9rem 1.2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
    -moz-box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: .5s all;
}

.uplaod-card:hover{
     box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
}

.ds-card-box{
    background: var(--gray-light);
}
.md-body {
    padding: 0 1.5rem 1.5rem 1.5rem;
}
.k-upload{
    border-radius: 0.5rem;
    overflow: hidden;
}
.k-dropzone{
    display: block !important;
    width: 100%;
}

.k-dropzone-hint {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

.k-upload .k-dropzone, .k-upload .k-upload-files{
        background-color: var(--light-brand);
        padding: .7rem;
}

.k-upload .k-dropzone .k-upload-status {
    margin-top: 1rem;
    display: block;
    text-align: center;
}

.k-upload .k-upload-button {
    width: 100% !important;
    background: var(--light-brand);
    font-size: 1rem;
    color: var(--brand-color);
    font-weight: 700;
    border-color: var(--brand-color);
    padding: 0.6rem 1.2rem;
    border-radius: 1.5rem;
}

.k-upload .k-upload-button:hover{
    background: #ece3d4;
}

.k-upload .k-upload-files .k-file-name{
    max-width: 150px;
}

.k-button span img {
    width: 16px;
    margin-right: 0.8rem;
}
.webrtc-btn .btn{
    font-size: 1rem;
    padding: 0.6rem 1rem;
    margin: .3rem;
}

.btn.border-gradient[disabled], .btn.btn-border[disabled], .btn-primary[disabled]{
    background: var(--gray-light) !important;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border: solid 0.1rem var(--gray-3);
    cursor: default;
    color: var(--gray-3) !important;
}


.btn.border-gradient[disabled]:after, .border-gradient.btn.btn-border[disabled]:hover:after, .btn.btn-border[disabled]:hover .btn.border-gradient[disabled]:hover:after{
    background: transparent;
}


.title-2 {
    font-size: 1.3rem;
}

.doc-wrapper {
    padding: 0 2rem 2rem;
    position: relative;
}
.doc-wrapper.active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, black, transparent);
    width: 100%;
    height: 300px;
    z-index: 0;
    content: "";
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.btn-border.white{
    color: var(--white) !important;
    border-color: var(--white);
}

.doc-wrapper.active .overlay-doc{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 2rem 2rem;
}

.doc-wrapper.active .e-sing-document {
    height: 330px;
    object-fit: cover;
    width: 100%;
    object-position: top;
}

.doc-wrapper.active .form-check span em{color: var(--white);}
.text-anywhere{line-break: anywhere;}


@media(max-width:768px){
    .upload-help-text h4{
        font-size: 1rem;
    }
    .upload-help-text p{
        font-size: .7rem;
    }
    .form-section .title-3{font-size: 1.2rem;}
    .form-section .title-3 ~ span{
        font-size: .8rem;
    }
    .form-input{
        margin-bottom: 1rem;
    }

    .sm-center{text-align: center;}
    .reverse-mob {
         flex-direction: column-reverse; 
    }
    
}

.full-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    background: rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
    text-align: center;    
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--white);
    border-bottom-color: var(--brand-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.video-rtc{
    width: 100%;
    height: 100%;
}

.ipv-text {
    position: absolute;
    top: 75px;
    right: 16px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--brand-color);
    letter-spacing: 3px;
}

.camera{
    width: 100%;
    height: 260px;
    margin: auto;
}
#snapShot{
    width: 183px;
    height: 200px;
}

.b-sticky{
    position: sticky;
    bottom: 10px;
}